In [88]:
import pandas as pd

In [89]:
df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')
df.head(10)
df.columns

Index(['Country Name', 'Indicator Name', 'Year', 'Value'], dtype='object')

In [90]:
df_to_melt = pd.read_csv('../data/gdp_fert_birth.csv')
print(df_to_melt.head(20))
# df_to_melt = df_to_melt.rename(columns={'total_fertility': 'Fertility (live births per woman)', 'birth_rate_cap': 'Birht Rate (live births per 1000)', 'age_childbear': 'Mean Age at Childbearing'})
# print(df_to_melt.head(10))
df = df_to_melt.melt(id_vars=['country', 'cont', 'year'], 
                    value_vars=['life_exp', 'GDP_Per_Capita', 'birth_rate_cap', 'total_fertility', 'age_childbear'],
                    var_name='Indicator Name',
                    value_name='Value')
print(df.head(100))
df.to_csv('../data/indicators.csv')

                     country           cont  year Indicator Name   Value
0                Afghanistan           Asia  1970       life_exp  41.228
1                Afghanistan           Asia  2000       life_exp  60.364
2                    Albania         Europe  1970       life_exp  69.584
3                    Albania         Europe  1980       life_exp  72.880
4                    Albania         Europe  1990       life_exp  75.183
..                       ...            ...   ...            ...     ...
95  Central African Republic         Africa  1980       life_exp  50.518
96                      Chad         Africa  1990       life_exp  47.372
97                      Chad         Africa  2000       life_exp  49.196
98                     Chile  South America  1970       life_exp  68.186
99                     Chile  South America  1980       life_exp  72.540

[100 rows x 5 columns]

In [91]:
df = df[df['country'] == 'Liechtenstein']
df.head(10)

            country    cont  year   Indicator Name          Value
267   Liechtenstein  Europe  1990         life_exp      79.109756
268   Liechtenstein  Europe  2000         life_exp      82.682927
777   Liechtenstein  Europe  1990   GDP_Per_Capita   90341.746252
778   Liechtenstein  Europe  2000   GDP_Per_Capita  158755.600890
1287  Liechtenstein  Europe  1990   birth_rate_cap      13.700000
1288  Liechtenstein  Europe  2000   birth_rate_cap      11.000000
1797  Liechtenstein  Europe  1990  total_fertility       1.560000
1798  Liechtenstein  Europe  2000  total_fertility       1.500000
2307  Liechtenstein  Europe  1990    age_childbear      30.200000
2308  Liechtenstein  Europe  2000    age_childbear      31.100000